<!-- INDEX FOR TASKS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>
</head>
<body>
    <h1>List of tasks</h1>
    <a href="tasks/new">Add a task</a>
    <ul>
        <% for(let aTask of tasks) {%>
        <li><%= aTask.title %> - <%= aTask.description %> : <a href="/tasks/<%=aTask._id%>">Show</a></li>
        <%}%>
    </ul>
</body>
</html>