<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a task</title>
</head>
<body>
    <h1>Add a new task</h1>
    <form action="/tasks" method="post">
        <input type="text" name="task[title]" placeholder="task name">
        <textarea type="text" name="task[description]" placeholder="description"></textarea>
        <button>Add</button>
    </form>
</body>
</html>